.navbar-container {

    .imgLogo {
        width: 15% !important;
    }

    .logoTxt {
        font-size: 20px;
    font-family: sans-serif;
    color: #379be5 !important;
    font-weight: 900;
    }

}